/* Card */
#Project-Section .card {
  background-color: #ffffff !important;
  border-radius: 6px;
  overflow: hidden;
}

/* Image */
#Project-Section .card .ratio {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

/* Button */
#Project-Section .card .btn {
  background-color: rgb(250, 167, 54);
  color: #fff;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#Project-Section .card .btn {
  padding: 6px 12px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

#Project-Section .card .btn:hover,
#Project-Section .card .btn:focus {
  background-color: rgb(225, 154, 23) !important;
  color: #fff;
}